<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-dark" th:fragment="header">
  <a class="navbar-brand" th:href="@{/homepage}">Banking Application</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" style="margin-right: 30px;">
        <a class="nav-link" th:href="@{/homepage}">Home <span class="sr-only">(current)</span></a>
      </li>
      
      <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link" th:href="@{/logout}">Logout</a>
      </li>
       <li sec:authorize="!isAuthenticated()" class="nav-item">
        <a class="nav-link" th:href="@{/login}">Login</a>
      </li>
    </ul>
    <div>
  
    
  </div>
</nav>
</body>
</html>